@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
